<html>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <p v-if="secretMessage">This is a secret HTML element</p>
        <p v-else>Welcome to the website</p>
        
        <p>Shopping list</p>
        <ol>
            <li v-for="item in shoppingList">{{ item }}</li>
        </ol>
        
        <p>What's your favorite color?</p>
            <input v-model="color" type="text">
        <p>Your favorite color is... {{ color }}</p>
        
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script>
    let app = new Vue({
        el: "#app",
        data: {
            message: "Hi!",
            secretMessage: false, // Try to change in the browser app.secretMessage
            shoppingList: [
                "milk",
                "eggs",
                "steak",
                "chicken"
            ],
            color: '' // two way data binding
        }
    });
    </script>
</body>
</html>